<!DOCTYPE html>
<html lang="en">
<head>
    <style>
            body{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                background-color: #ace2e1;
            }
            td{
                padding: 0 15px;
            }
            .form{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: larger;
            }
            #heading{
                display: flex;
                justify-content: center;
            }
            .button{
                margin-left: 90px;
                margin-top: 10px;
                margin-right: 100px;
                height: 30px;
                width: 70px;
                font-size: larger;
                border-radius: 10%;
                box-shadow: 1px 10px 10px;
                background-color: #d6a02a;
                cursor: pointer;
            }
            button{
                border: white;
                background-color: #58a4ba;
                
            }
            
            .new{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 65vh;
                width: 500px;
                height: 50px;
                font-size: x-large;
                box-shadow: 1px 35px 50px;
                background-color: #58a4ba;
                cursor: pointer;
            }
            
        </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1 id="heading">Login</h1>
    
    <form action="/user/login" method="post">
        <div class="form">
      <div> <label >Email</label>
        <input type="text" required name="email" placeholder="example@gmail.com"> </div> 
      <div> <label >Password</label>
        <input type="text" required name="password" placeholder="****************"></div>
        <button type="submit" class="button">Login</button>
    </form></div>
    <div id="heading"><h1>WELCOME TO URL SHORTENER</h1></div>
    <div ><button class="new" onclick="redirect()" >CREATE  ACCOUNT</button></div>
    <script>
        var redirect=function(){
    window.location.href="http://localhost:8001/signup"
   }
    </script>
</body>
</html>